@model TesteMvc.EF.Usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Excluir Usuário</h4>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
        </div>
        <div class="modal-body">
            <h3>Deseja Deletar este registro?</h3>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Sobrenome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Sobrenome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                </dl>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <input type="submit" value="Deletar" class="btn btn-succcess" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                }
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
