@model TesteMvc.EF.Usuario

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Detalhes do Usuário</h4>
            </div>
            <div class="modal-body">
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Sobrenome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Sobrenome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                </dl>
                <p>
                    <span>Detalhes do Usuário:</span>
                    <br />

                    @if (Model.DetalheUsuario.Count > 0)
                    {
                        var lst = Model.DetalheUsuario.ToList();

                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Telefone</th>
                                    <th>Endereço</th>
                                    <th></th>
                                </tr>
                            </thead>

                           @foreach(var item in lst)
                           {
                               <tr>
                                   <td>@item.DetalheId</td>
                                   <td> @item.Telefone</td>
                                   <td>@item.Endereco</td>
                                   <td>
                                       <div class="btn-group" role="group">
                                           <button class="btn btn-success det-details" data-id="@item.DetalheId">Detalhes</button>
                                           <button class="btn btn-primary det-edit" data-id="@item.DetalheId">Editar</button>
                                           <button class="btn btn-danger det-delete" data-id="@item.DetalheId">Remover</button>
                                       </div>

                                   </td>
                               </tr>


                           }
                        </table>
                    }
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    
    </div>
    
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsuarioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
